html,
body {
  box-sizing: border-box;
}
body {
  background-color: #f3efef;
}
.wrapper {
}
header {
  border-bottom: 1px solid gray;
  height: 5rem;
  background: white;
}
.header {
  width: 75vw;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.ln-logo {
  width: 2rem;
  height: 2rem;
}
.search {
  height: 100%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  margin-left: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.search input {
  border: none;
  outline: none;
}

.search-input {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  border-radius: 15rem;
  padding: 2px 8px;
}
.navbar {
  border-right: 1px solid gray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  flex-grow: 1;
}
.navbar span {
  padding: 0 1rem;
}
.navbar span:last-child {
  color: red;
}
.nav-icons {
  display: flex;
  padding: 0 1rem;
  border-right: 1px solid gray;
  height: 100%;
}
.nav-icons img {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  padding: 0 0.5rem;
}
.avatar {
  height: 2rem;
  width: 2rem;
  margin-left: 1.5rem;
  border-radius: 50%;
}
.top-nav {
  border-bottom: 1px solid gray;
  background: white;
}
.topNav {
  width: 75vw;
  margin: auto;
  display: flex;
  align-items: center;
}
.topNav span {
  display: block;
  padding: 1rem 0;
  padding-right: 4rem;
}
.main-body {
  width: 75vw;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 16rem 1fr 16rem;
  gap: 2rem;
  height: 100vh;
}
.content {
  background-color: white;
}
aside.left {
  background-color: white;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.founder {
  font-weight: lighter;
  color: rgb(56, 54, 54);
  margin-bottom: 0.5rem;
}
.seattle {
  color: grey;
  margin-bottom: 1rem;
}
.billgate {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.follow {
  height: 2rem;
  width: 8rem;
  background-color: rgb(92, 163, 245);
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect {
  height: 2rem;
  width: 8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  color: rgb(63, 159, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 1px solid rgb(63, 159, 248);
}
.socials {
  width: 100%;
  display: grid;
  border-bottom: 1px solid gray;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid gray;
  margin-top: 2rem;
}
.following {
  border-right: 1px solid gray;
}
.conn {
  color: grey;
}
.following,
.follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0;
}
.foll {
  color: grey;
}

.linkedIn {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 1.5rem 0;
  color: grey;
}
.linIn {
  padding-left: 1rem;
}
.link {
  width: 1rem;
  height: 1rem;
}
.global-bill {
  padding-left: 1rem;
}
.global {
  width: 1rem;
  height: 1rem;
}
.export {
  color: grey;
  padding: 1.5rem 0;
}

.aside.right {
  background-color: rebeccapurple;
}

.avatarr {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.avatar2 {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.avatar3 {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.influencer {
  color: grey;
  padding-top: 2rem;
}
.steve {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: 1rem;
}
.company {
  color: grey;
  padding-top: 0.3rem;
}
.CEO {
  display: flex;
  padding-top: 2rem;
}
.profile {
  margin-left: 1rem;
}
.jobs {
  font-size: larger;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.apple {
  color: grey;
}
.image {
  display: flex;
  justify-content: center;
}
.people {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.rightarrow {
  margin-top: 3rem;
  filter: invert(1);
}
.leftarrow {
  margin-top: 3rem;
}

.topper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
}
.arrow {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: indigo;
}
.information {
  height: 15rem;
  padding: 2rem;
  width: 10rem;
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.article {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feb {
  color: grey;
}
.second {
  border-bottom: 1px solid gray;
}
